.modal-container {
  color: rgb(235, 223, 223);
  z-index: 10;
  position: absolute;
  padding: 12px;
  max-height: 600px;
  max-width: 600px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-overlay {
  border-radius: 25px;
  background-color: rgba(30, 30, 30, .8);
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.modal-button {
  border: 2px solid rgb(70, 255, 0);
  border-radius: 22px;
  height: 44px;
  width: 150px;
  background: rgb(53, 53, 53);
  color: rgb(70, 255, 0);
  margin: 12px;
}
.modal-button:hover {
  box-shadow:0 0 10px rgb(70, 255, 0);
}